*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
    background: #12c2e9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.login_box{
    width: 420px;
    height: 420px;
    background:rgba(0, 0, 0, 0.459);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box ;
    padding: 60px 40px;
}
.login_image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -4%;
    right:40%;
}
.h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login_box p{
    margin: 0;
    padding: 0;
    font-weight: bolder;
}
.login_box input{
    width: 340px;
    margin-bottom: 20px;
}
.login_box input[type="text"], input[type="Password"]{
    border:none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline:none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login_box input[type="submit"]{
    border:none;
    outline:none;
    height: 40px;
    background:#fb2525;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 30px;
}
.login_box input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color:white;
    
}
.login_box a:hover{
    text-align: center;
    text-decoration: none;
    color: #ffc107;
}
.Sign_in{
    text-align: center;
    color: #fb2525;
}

/*desktops - higher resolution*/
@media (min-width: 1281px)
{

}
/*laptops, desktops*/
@media (min-width: 1025px) and (max-width: 1280px) 
{

}
/*tablets, ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px)
{

}


/*smartphones mobiles (portrait)*/
@media (min-width: 270px) and (max-width: 480px)
{
    .login_box
    {
        padding: 0;
    }
    .login_box

    {
        width: 360px;
    }
}

@media screen and (max-width: 576px)
{
    .login_box

    {
        width: 360px;
    }
    .login_box input{
        width: 280px;
        margin-bottom: 20px;
    }

    .login_image{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        top: -16%;
        right:40%;
    }
}
@media screen and (max-width: 320px)
{
    .login_box
    {
        padding: 0;
    }
}